<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Database1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\TEST_VS\TEST_WPS_plus_SQL\TEST_WPS_plus_SQL\Database1.mdf;Integrated Security=True" />
  </connectionStrings>  
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WCFContarcts.ContractService">
                <endpoint address="" binding="basicHttpBinding" contract="WCFContarcts.IContractService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFContarcts/ContractService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
